.albums{
  background-color: black;
  width: 100%;
  min-height: 100%;

}
.image-one{
width: 100%;
height: auto;
max-width: 500px;
position: absolute;
bottom: 100px;
right: 30%;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.flex-image{
  width: 100%;
  height: auto;
  width: 400px;
  align-self: center;
}

.container{
  width: 100%;
  max-width: 80%;
  height: 100%;
  background: white;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 800px) {
}
